<%= form_with(model: [post, comment], class: "mb-3") do |f| %>
  <div class="mb-3 mt-4">
    <%= f.label :body, "Your Comment", class: "form-label" %>
    <%= f.text_area :body, class: "form-control", rows: 5, placeholder: "Write your comment here..." %>
  </div>
  <div>
    <%= f.submit "Reply", class: "btn btn-primary" %>
  </div>
<% end %>
