<div id="<%= dom_id(post) %>" class="card mb-3 mt-4">
  <div class="card-body">
    <h5 class="card-title">
      <strong>Title:</strong> <%= post.title %>
    </h5>
    
    <p class="card-text">
      <strong>Views:</strong> <%= pluralize(post.views, "view") %>
    </p>

    <p class="card-text">
      <strong>Body:</strong> <%= post.body %>
    </p>
  </div>
</div>
